{% extends 'base.html' %}

{% block body %}
{% with message = get_flashed_messages() %}
<div style="position: absolute;
           z-index: 15%;
           width: 300px;
           top: 8%;
           left: 50%;
           margin: -1px 0 0  -150px">
  {% if message %}
  <div class="notification is-{{ notify }}">
    <p style="text-align: center;
              font-family: Arial, Helvetica, sans-serif;">
      {{ message[0] }}
    </p>
      <button class="delete"></button>
  </div>
  {% endif %}
</div>
{% endwith %}
<footer class="footer is-mobile"
       style="position: absolute; 
               width: 300px; 
               height: 350px; 
               z-index: 15; 
               top: 28%; 
               left: 50%; 
               margin: -48px 0 0  -150px;">
    <h1 class="title is-5"
        style="text-align: center;
              color: #003366;
              font-family: Arial, Helvetica, sans-serif;">
        Login
    </h1>
    <form method="post" enctype="multipart/form-data" style="margin: 5px;">
    <div class="field">
        <label class="label"
               style="color: #003366;
                     font-family: Arial, Helvetica, sans-serif;">
          E-mail
        </label>
        <div class="control">
          <input name="inp_email" class="input" type="email" placeholder="Ex. your email" required>
        </div>
    </div>

    <div class="field">
      <label class="label"
             style="color: #003366;
                   font-family: Arial, Helvetica, sans-serif;">
        Recovery Code
      </label>
      <div class="control">
        <input name="inp_recovery_code" class="input" type="email" placeholder="Ex. 123" required>
      </div>
  </div>

    <div class="field">
        <label class="label"
               style="color: #003366;
                     font-family: Arial, Helvetica, sans-serif;">
          New Password
        </label>
        <div class="control">
          <input name="inp_new_password" class="input" type="password" placeholder="***" required>
        </div>
    </div>

      <button class="button is-info" 
              type="submit"
              style="margin: 5px;
                    right: 35%;
                    position: absolute;
                    height: 40px;
                    width: 100px;">
            Submit
    </button>

    </form>
</footer>
{% endblock %}
